/**.footer {
  
}*/
/**.footer {
  position: fixed;
  bottom:20px;
  left: 20px;
  right: 20px;
  height: 80%;}

  /**.header-content {
      background-color: #bb5432;
      color: white;
      padding: .5em 1em;
      text-align: center;


      .header-convert {
        font-size: 350%;
        font-weight: bold;
      }

      .header-currencies {
        font-size: 200%;
        font-weight: lighter;
    
      }
    }
}


    /**background-color:#fff;
    color: #bb5432;
    padding: 1em;
    text-align: center;
    font-size: 80%;*/

  .footer {
  position: fixed;
  background-color:rgb(218, 195, 195);
  padding-top:10px;
  height:100px;
  bottom:20px;
  left: 20px;
  right: 20px;
  text-align: center;
  font-size: 80%;
  color: #bb5432;

  .footer-big {
    font-size: 350%;
    font-weight: bold;
  }

  .footer-small {
    font-size: 180%;
    font-weight: lighter;
  }

}

 

